<% provide :title, "About" %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  The <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org"%> is a
  The <%= link_to "book", "http://www.railstutorial.org/book"%> and
  The <%= link_to "screencast series", "http://screencasts.railstutorial.org"%>
  to teach web development with
  The <%= link_to "Ruby on Rails", "http://www.railstutorial.org"%>
  This is the sample application for the tutorial.
</p>
